@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

body {
  font-family: "Syne Mono", monospace;
}
#home,
#about,
#portfolio,
#contacts,
#certs {
  height: 100vh;
  background-size: cover;
  position: relative;
  color: whitesmoke;
}
#home {
  animation: fadeIn;
  animation-duration: 1.5s;
}
#about {
  animation: rollIn;
  animation-duration: 1.5s;
}
#portfolio {
  animation: rubberBand;
  animation-duration: 1.5s;
}
#certs {
  animation: lightSpeedInLeft;
  animation-duration: 1.5s;
}
#certs img {
  margin: 100px auto;
  width: 50%;
  height: 50%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5rem;
  height: 5rem;
}
#contacts {
  animation: lightSpeedInRight;
  animation-duration: 1.5s;
}
#about p {
  font-size: 1.25rem;
}
#embedmap-canvas {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
#embedmap-canvas img {
  max-width: none !important;
  background: none !important;
  font-size: inherit;
  font-weight: inherit;
}
.frame {
  height: 100%;
  width: 100%;
  border: 0;
}
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.codersrank {
  content: url("https://api.iconify.design/simple-icons/codersrank.svg?color=%230d6efd&width=36&height=36");
}
.home-image {
  background: url("../images/home.jpeg");
}
.about {
  background: url("../images/about.jpeg");
}
.portfolio {
  background: url("../images/portfolio.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
#certs {
  background: url("../images/certs.jpg");
}
.contacts {
  background: url("../images/contacts.jpeg");
  max-width: 100%;
  overflow: hidden;
  color: red;
  width: 100%;
  height: 100%;
}
.hero-title {
  font-size: 4.5rem;
}
.hero-desc {
  font-size: 2rem;
}
.hero-text {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}
.navbar-nav {
  color: whitesmoke;
  font-size: 1.3rem;
}
.card {
  color: black;
  background-color: whitesmoke;
}
codersrank-summary {
  --badge-bg-color: darkgray;
  --bg-color: whitesmoke;
}
.navbar-nav {
  transition: transform 250ms;
}
.navbar-nav:hover {
  transform: translateY(-10px);
}
